# Dependencies
node_modules/

# Secrets
.env

# SQLite database
*.sqlite
*.sqlite-wal
*.sqlite-shm

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/